.file-btn {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    background-color: var(--surface-color);
    border: 2px solid var(--surface-color);
    color: var(--bg-color);
    font-weight: 600;
}

.file-btn:hover{
    background-color: var(--color);
    border: 2px solid var(--color);
    transition: ease-in-out 300ms;
}

.image-section {
    width: 100%;
    height: 100%;
    max-height: 90vh;
    border: 2px solid var(--surface-color);
    border-right: none;
    border-radius: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 100%;
    max-height: 100%;
}

.close-button {
    min-width: 60px;
    min-height: 20px;
    background-color: #e52b50;
    color: var(--bg-color);
    border-radius: 3px;
    font-size: 14px;
}