.Form {
    border: 2px solid var(--surface-color);
    display: flex;
    flex-direction: column;
    border-left: 0;
    border-radius: 0 20px 20px 0;
    overflow: scroll;
    min-height: 250px;
    max-height: 600px;
    position: relative;
}

.Form::-webkit-scrollbar{
   display: none;
}

.resize-inputs input::-webkit-outer-spin-button,
.resize-inputs  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.resize-inputs input {
    width: 65px;
    height: 30px;
}

@media screen and (width < 1024px) {
    .Form {
        border: 2px solid var(--surface-color);
        border-top: 0;
        border-radius: 0 0 20px 20px;
        overflow: scroll;
        min-height: 350px;
        z-index: 2;
        height: 50vh;
    }
}
