.form-input {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 6px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 5px var(--surface-color);
    min-height: fit-content;
    max-height: 140px;
    padding: 8px;
    scroll-behavior: smooth;
}

.form-input input {
    width: 18px;
    height: 18px;
    justify-self: center;
    cursor: pointer;
}

.form-input input[type="number"] {
    border: 1px solid var(--surface-color);
    border-radius: 5px;
    padding: 4px;
}

.form-input input:hover {
    accent-color: red;
}

.form-input label {
    text-align: start;
}

.about-button {
    color: var(--bg-color);
    background-color: var(--color);
    height: 26px;
    width: 26px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: auto;
    margin: auto;
}
